/* body  */
.header {
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background-color: pink;
}

.banner-tittle {

    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description {
    display: flex;
    width: 634px;
    flex-shrink: 0;
    padding-bottom: 25px;
    color: aliceblue;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;

}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background-color: pink;
    color: cornsilk;
    font-size: 20px;

}

.banner-content {
    font-family: 'lato';
    display: flex;
    width: 700px;
    flex-direction: column;
    flex-shrink: 0;
}

.banner {
    display: flex;
    padding-left: 200px;
    width: 630px;
    height: 500px;
    flex-shrink: 0;

}

.banner-img {
    padding: 51px;
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}


.section-tittle {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-description {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
}

.skills-conteiner {
    display: flex;
    gap: 300px;
    /* width: 1220px; */
    /* height: 300px; */
}

.skill {
    border-radius: 5px;
    background: #fff;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.skill-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.skill-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}

.pink-flower {
    width: 310px;
    height: 428px;
    flex-shrink: 0;

}

.about {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.class {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.flower{
    display: flex;
    gap: 50px;
    padding: 30px;
    border-radius: 5px;   
}
